.main {
    background: #F7F7F7;
}

.is-fullheight.columns {
    min-height: calc(100vh - 6.75rem);
}

.is-fullwidth.columns {
    width: 100%;
}

.is-fullheight.main {
    min-height: calc(100vh - 6.75rem);
}

.is-fullheight.section {
    min-height: calc(100vh - 6.75rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-card{
    padding: 0;
    border-radius: 5px;

    header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-header {
        .card-header-title {
            font-size: 1.2rem;
            font-weight: lighter;
        }
    }
}

.query-message-container {
    margin-top: 30px;
}

.footer{
    height: 5vh;
}

.hero.is-fullheight-with-navbar{
    min-height: calc(100vh - 6.75rem);
}

.slide-fade-enter-active {
    transition: all .8s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.overflow-table {
    max-height: 70vh;
    overflow-y: auto;
}